.container {
    padding: 24px;
    height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr auto;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.footer {
    margin-top: 32px;
    text-align: center;
    font-size: .75rem;
}